body { 
	margin: 0; 
	background-image: url('http://s3-us-west-2.amazonaws.com/sentimyzer/noisy_grid.png');
}

/* The wrapper and main ids are used by the jQuery scrolling function. The main id also structures content background on the page. */

#wrapper { 
	position:relative; 
	width:100%; 
}

#main { 
	width: 960px; 
	margin: 0 auto; 
	background: #fff; 
	border: 1px solid #ccc; 
}

/* #header-image formats the large crowd picture at the top of the home page  */

#header-picture {
	background-image: url(http://s3-us-west-2.amazonaws.com/sentimyzer/crowd_pic.jpg);
	height: 640px;
}

/* navbar is fixed to the top of the page and given a minimum height */

#navbar { 
	width: 100%; 
	min-height: 50px; 
	display: block; 
	margin-bottom: 20px; 
	background: #FFF; 
	border: 1px solid #ccc;
	position: fixed;
	z-index: 9999;
}

/* .section is used by the jquery scrolling script to designate each section the scroller should scroll to */

.section { 
	padding: 0px; 
}

/* #errors formats the flash errors and messages at the top of the page */

#errors {
	width: 920px;
	height: auto;
	background-color: #ff1a29;
	vertical-align: center;
	padding: 0px 20px;
	text-align: left;
	font-family: 'Roboto', Arial;
	font-size: 14px;
	font-weight: 500;
	color: #EEE;
	text-transform: uppercase;
}

/* each flash error */
.error {
	padding: 10px 0px 10px 0px;
}

/* creates padding in layout */
.headerspace {
	height: 60px;
}

/*used, edited */
.datasources {
	text-align: center;
}

/*used, edited */
.datasources img {
	margin: 30px;
	vertical-align: middle;
	height: 35px;
}

/* used, edited */
.line-separator {
	height:1px;
	width: 200px;
	background:#ff1a29;
	margin: 20px auto;
}

/*used*/
.signup {
	text-align: center;
	margin-top: 20px;
}

/*dry this up, designate form/list styles in relevent div tags*/
li {
	display: inline-block;
}

.fieldset {
	margin-left: 20px;
}

input {
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	margin: 0px 1px;
	color: #666;
	background: #eee;
	border: 1px solid #999;
	width: 200px;
	padding: 15px;
}

input[type="submit"] {
	width: auto;
	font-size: 18px;
	background-color: #ff1a29;
	font-weight: 500;
	color: #FFF;
	border: 1px;
	border-radius: 0px;
	margin-left: 20px;
	text-transform: lowercase;
}

label {
	width: 30px;
	float: left;
	margin-right: 10px;
	display: block;
	font-family: verdana;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	color: #000;
}

/*UNUSED*/
h1 {
	font-family: Lobster;
	text-align: center;
	font-size: 36px;
}

/*used*/
h2 {
	font-family: "Roboto";
	font-weight: 500;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 10px;
}

/*used*/
h3 {
	font-family: "Roboto";
	font-weight: 500;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	letter-spacing: 5px;
}

/*UNUSED*/
h4 {
	font-family: "Roboto";
	font-weight: 500;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	letter-spacing: 5px;
	line-height: 2px;
}

/*used*/
h5 {
	font-family: "Roboto";
	font-weight: 100;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 60px;
	text-align: center;
	letter-spacing: 5px;
	line-height: 0px;
	margin-top: 0px;
	margin-bottom: 60px;
}

/*used*/
h6 {
	font-family: "Roboto";
	font-weight: 300;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 10px;
	line-height: 0px;
	margin-top: 40px;
}

/*used*/
p {
	font-family: verdana;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	margin: 10px 0px 10px 0px;
	color: #000;
}

/*used*/
a {
	text-decoration: none;
	color: inherit;
}

/*used*/
.footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	background-color: #ff1a29;
}

/*used*/
.footer input {
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
	font-weight: 100;
	margin: 1px 2px;
	color: #666;
	background: #EEE;
	border: 0px;
	width: 125px;
	padding: 10px;
}

/*used*/
.footer input[type="submit"] {
	width: auto;
	font-size: 14px;
	background-color: #EEE;
	font-weight: 500;
	color: #ff1a29;
	border-radius: 0px;
	border: 1px;
	margin-left: 2px;
	text-transform: lowercase;
}

/*used*/
.footer-half {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 10px 40px;
}

/*used*/
.footer-half h1 {
	line-height: 50px;
	font-family: "Roboto";
	font-weight: 400;
	color: #EEE;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 5px;
}

/*used*/
.footer-half h2 {
	background-color: #EEE;
	padding: 12px 0px;
	font-family: "Roboto";
	font-weight: 400;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

/*used*/
.footer-half p {
	text-align: justify;
	font-family: 'Roboto';
	font-size: 12px;
	color: #EEE;
	font-weight: 300;
	margin: 0px 0px 0px 5px;
	letter-spacing: 1px;
	word-spacing: 0px;
	overflow: hidden;
}

/*used*/
.footer-half img {
	border: 1px solid white;
	float: left;
	margin: 0px 15px 15px 0px;
}

/*used*/
.button {
	width: auto;
	padding: 10px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
	height: auto;
	text-align: center;
	text-transform: lowercase;
	display: inline-block;
	color: #ff1a29;
	background-color: #EEE;
}


