body{ 
	margin: 0; 
	background-image: url('http://s3-us-west-2.amazonaws.com/sentimyzer/noisy_grid.png');
}

#wrapper{ position:relative; width:100%; }

#main{ width: 960px; margin: 0 auto; background: #fff; border: 1px solid #ccc; }

.section { padding: 0px; }

.errors {
	width: 920px;
	height: auto;
	background-color: #ff1a29;
	vertical-align: center;
	text-align: left;
	font-family: 'Roboto';
	font-size: 14px;
	color: #EEE;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0px 20px;
}

.error {
	padding: 10px 0px 10px 0px;
}

#picture {
	background-image: url(http://s3-us-west-2.amazonaws.com/sentimyzer/crowd_pic.jpg);
	height: 640px;
}


.navbar { 
	width: 100%; 
	min-height: 50px; 
	display: block; 
	margin-bottom: 20px; 
	background: #FFF; 
	border: 1px solid #ccc;
	position: fixed;
	z-index: 9999;
	 }

.headerspace {
	height: 60px;
}

.datasources {
	text-align: center;
}

.datasources img {
	margin: 30px;
	vertical-align: middle;
}

.signup {
	text-align: center;
	margin-top: 20px;
}


.container {
	width: 800px;
	margin: 30px auto 25px auto;
	background-color: #f6f6ef;
}

.header {
	width: 780px;
	padding: 0px 10px 0px 10px;
	background-color: #FF6600;
}

.header img{
	margin: 0;
	display: inline;
	float: left;
	border: 1px solid white;
}

.textContainer {
	padding: 20px;
}


li {
	display: inline-block;
}

.fieldset {
	margin-left: 20px;
}

.line-height {
	line-height: 10px
}

input {
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	margin: 0px 1px;
	color: #666;
	background: #eee;
	border: 1px solid #999;
	width: 200px;
	padding: 15px;
}

input[type="submit"] {
	width: auto;
	font-size: 18px;
	background-color: #ff1a29;
	font-weight: 500;
	color: #FFF;
	border: 1px;
	border-radius: 0px;
	margin-left: 20px;
	text-transform: lowercase;
}


label {
	width: 30px;
	float: left;
	margin-right: 10px;
	display: block;
	font-family: verdana;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	color: #000;
}

h1 {
	font-family: Lobster;
	text-align: center;
	font-size: 36px;
}

h2 {
	font-family: "Roboto";
	font-weight: 500;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 10px;
}

h3 {
	font-family: "Roboto";
	font-weight: 500;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	letter-spacing: 5px;
}

h4 {
	font-family: "Roboto";
	font-weight: 500;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	letter-spacing: 5px;
	line-height: 2px;
}

h5 {
	font-family: "Roboto";
	font-weight: 100;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 60px;
	text-align: center;
	letter-spacing: 5px;
	line-height: 0px;
	margin-top: 0px;
	margin-bottom: 60px;
}

h6 {
	font-family: "Roboto";
	font-weight: 300;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 10px;
	line-height: 0px;
	margin-top: 40px;
}

p {
	font-family: verdana;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	margin: 10px 0px 10px 0px;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

.line-separator {
	height:1px;
	width: 200px;
	background:#ff1a29;
	margin: 20px auto;
}


.footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	background-color: #ff1a29;
}

.footer input {
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
	font-weight: 100;
	margin: 1px 2px;
	color: #666;
	background: #EEE;
	border: 0px;
	width: 125px;
	padding: 10px;
}

.footer input[type="submit"] {
	width: auto;
	font-size: 14px;
	background-color: #EEE;
	font-weight: 500;
	color: #ff1a29;
	border-radius: 0px;
	border: 1px;
	margin-left: 2px;
	text-transform: lowercase;
}

.footer-half {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 10px 40px;
}

.footer-half h1 {
	line-height: 50px;
	font-family: "Roboto";
	font-weight: 400;
	color: #EEE;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 5px;
}

.footer-half h2 {
	background-color: #EEE;
	padding: 12px 0px;
	font-family: "Roboto";
	font-weight: 400;
	color: #ff1a29;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.footer-half p {
	text-align: justify;
	font-family: 'Roboto';
	font-size: 12px;
	color: #EEE;
	font-weight: 300;
	margin: 0px 0px 0px 5px;
	letter-spacing: 1px;
	word-spacing: 0px;
	overflow: hidden;
}

.footer-half img {
	border: 1px solid white;
	float: left;
	margin: 0px 15px 15px 0px;
}

.button {
	width: auto;
	padding: 10px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
	height: auto;
	text-align: center;
	text-transform: lowercase;
	display: inline-block;
	color: #ff1a29;
	background-color: #EEE;
}


