<div class="headerspace"></div>
<div class="section">
	<div class="headerspace"></div>
	<h3>data sources</h3>
	<div class="line-separator"></div>
	<div class="datasources">
		<ul>
			<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/forbes_logo.jpg" /></li>
			<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/nyt_logo.jpg" /></li>
			<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/sa_logo.jpg" /></li>
			<br/>
			<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/cnbc_logo.jpg" height="30" /></li>
			<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/ycharts_logo.jpg" /></li>
			<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/twitter_logo.jpg" /></li>
		</ul>
	</div>
</div>