<div class="section">
	<div class="headerspace"></div>
	<h3>historical data</h3>
	<div class="line-separator"></div>
	<%= high_chart("line_chart", @line_chart)  %>
</div>
<div class="headerspace"></div>