<div class='navbar'>
      <h2>sentimyzer</h2>
    <!--
      <#% if current_user %>
      Logged in as <#%= current_user.phone_number %>
      <div class="medium primary btn">
        <#%= link_to "Log out", log_out_path %>
      </div>
      <div class="medium secondary btn">
        <#%= link_to "Unsubscribe", delete_user_path %>
      </div>
      <#%= link_to "Change Password", new_password_path %>
      <#% else %>

      <div class="login_form">
        <#%= form_tag sessions_path do %> 
        <#%= text_field_tag :phone_number, nil, placeholder: 'phone number' %>
        <#%= password_field_tag :password, nil, placeholder: 'password' %>
        <#%= submit_tag "Log In" %>
        <#% end %> 
        </div>
      </div>
      <#% end %>
      -->

</div>