<!DOCTYPE html>
<html>
<head>
  <title>Sentimyzer | Financial Sentiment Tracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,500' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- LINK PAGE SCROLLER PRO JS FILE -->
  <script type="text/javascript" src="http://s3-us-west-2.amazonaws.com/sentimyzer/jquery.pagescroller.js"></script>
  <!-- / -->


  <script type="text/javascript">
    $(document).ready(function(){
    
    // initiate page scroller plugin
    $('#wrapper').pageScroller({
      navigation: '.pageScrollerNav'
    });
          
  });
    </script>
</head>
<body>

<%= yield %>

</body>
</html>
